
html,body{
//	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	background-color:#eaeaea;
	height:100%;
	width:100%;
	margin:0px;	
	font-size:100%;
}


#sections{
        position:absolute;
        overflow-x:hidden;
        display:block;
        width:100%;
	height:100%;
        z-index:2;
}

#hello article.introduction{
	position:absolute;
  // 	margin-left:-255px;
  //	margin-right:-715px;
	color:#FFF;
   	left:50%;
  // 	top:50%;
}


#hello article.introduction{
    	position:absolute;
   // 	margin-top:-175px;
	margin-left:-350px;
	color:#000;
    	left:50%;
    //	top:50%;
	float:left;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	

}

#hello div.leftDiv, div.rightDiv{
	border:0;
	float:left;
	margin:0;
	padding:0;
	background:transparent;
}


#hello div.leftDiv{
	width: 700px;
	height: 350px;
}
#hello div.rightDiv{
	width:300px;
	height: 350px;
	margin-top: 0px;
	margin-bottom: 0px
}


#hello span{
	display:inline-block;
	border:0;
	margin:0;
	outline:0;
	
}

#hello span.clickable{
	background-color:#222222;
	color:#FFF;
}

#hello article.introduction h2{
    	font-size:40px;
	line-height:60px;
	margin-top: 0px;
	margin-bottom: 20px;
}

#hello article.introduction h3,#hello article.introduction h4{
    	font-size:36px;
	line-height:50px;
	margin-top: 0px;
	margin-bottom: 20px;
}

#hello article.introduction h5,#hello article.introduction h6,#hello article.int
roduction dl{
    	font-size:24px;
	line-height:40px;
	margin-top: 0px;
	margin-bottom: 20px;
}







